[profile.release]
opt-level = 'z'  # Optimize for size
lto = true
codegen-units = 1
strip = true
panic = 'abort'

[build]
target = "wasm32-unknown-unknown"

[target.wasm32-unknown-unknown]
rustflags = [
    "-C", "link-arg=-zstack-size=8192",
    "-C", "link-arg=--no-entry",
    "-C", "link-arg=--export-dynamic",
    "-C", "link-arg=--allow-undefined",
]